<h1 mat-dialog-title>Create new backlog item:</h1>
<div mat-dialog-content >
  <p>Enter item name:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <p>Enter item priority (1-10):</p>
    <mat-slider
      class="example-margin"
      [max]="10"
      [min]="0"
      [step]="1"
      [thumb-label]="true"
      [tick-interval]="3"
      [(ngModel)]="data.priority"
      >
    </mat-slider>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Create</button>
</div>
