<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side">

    <mat-list>
      <mat-list-item>
        <a href="#" [routerLink]="['gantt']" >  gantt</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#" [routerLink]="['projects']" >projects</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#" [routerLink]="['users']" >users</a>
      </mat-list-item>
    </mat-list>



  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
