<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side">

    <mat-list>
      <mat-list-item>
        <a href="#" [routerLink]="['gantt']" >  gantt</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#" [routerLink]="['projects']" >projects</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#" [routerLink]="['users']" >users</a>
      </mat-list-item>
    </mat-list>



  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <button mat-icon-button (click)="sidenav.toggle()" title="Toggle sidebar" >

        <mat-icon> more-vert</mat-icon>
      </button>
      <h1>Task management on Gantt projects</h1>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
