<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side">

    <mat-nav-list>
      <mat-list-item>
        <a mat-list-item href="#" [routerLink]="['backlog']">BACKLOG</a>
      </mat-list-item>
      <mat-list-item>
        <a  mat-list-item href="#" [routerLink]="['projects']" >PROJECTS</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item href="#" [routerLink]="['users']" >USERS</a>
      </mat-list-item>
    </mat-nav-list>



  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <button mat-icon-button (click)="sidenav.toggle()" title="Toggle sidebar" >

        <mat-icon>menu</mat-icon>
      </button>

    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
